* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* สี */
:root {
  --yellow-color: #00ff22;
  --orange-color: #ff5a1f;
  --black-color: #000000;
  --bgmenu-color-hover: rgb(212, 0, 0);
}

/* เนื้อหา */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #d3d3d3;
  background-color: #e4d9d9;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.card-home {
  align-items: center;
  gap: 0;
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
  margin-top: 25px;
  border-radius: 10px;
  margin-bottom: 16px;
  color: #000000;
}

.card-home p {
  color: #615b58;
  margin-bottom: 16px;
}

.credit {
  font-size: 0.9rem;
  color: gray;
  margin-top: 15px;
  text-align: center;
}

.trend-box {
  display: flex;
  flex: 1;
  gap: 20px;
  align-items: center;
  border-bottom: 2px solid #7c6666;
}

.home-layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.left-card {
  width: 70%;
}

.right-card {
  width: 30%;
  background: transparent;
  padding: 20px 40px;
  margin-top: 25px;
  border-radius: 10px;
  position: sticky;
  top: 100px;
  text-decoration: none;
}

.right-card h2 {
  color: var(--orange-color);
}

.right-card li a {
  color: #615b58;
  padding-left: 20px;
  font-size: 0.9rem;
  padding: 5px 5px;
}

/* Header */
header {
  background-color: #ffffff;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 0;
}

.logo-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
  padding: 10px 10px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.brand {
  font-size: 3rem;
  color: #0f172a;
}

/* เมนู */
#menu ul {
  list-style: none;
}

#menu {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid var(--black-color);
}

.nav-menu {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0 auto;
}

.nav-menu li a {
  color: black;
  font-weight: bold;
  padding: 10px 10px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.nav-menu li a:hover {
  color: var(--orange-color);
  border-bottom: 2px solid var(--orange-color);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #eeeeee;
  width: 200px;
  border-radius: 12px;
  display: none;
  padding: 10px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: #ff5a1f;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a:hover {
  background: #ff5a1f;
  color: white;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

/* หัวข้อหลัก */
.main-title {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
}

/* หน้า Broker  */
.broker-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  gap: 24px;
  margin-top: 20px;
}

.broker-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s;
}

.broker-card h3 {
  color: black;
  margin-bottom: 15px;
}

.broker-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 10px auto;
}

/* ปุ่ม Button */
.btn {
  display: inline-block;
  background: var(--orange-color);
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
  transform: translateY(-1px);
  font-weight: bold;
}

.btn-fb {
  background: #1877f2;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-fb:hover {
  background: white;

  color: #1877f2;
  border: 1px solid #1877f2;
  transform: translateY(-1px);
  font-weight: bold;
}

/* ฟรอม */
.form-group {
  margin-bottom: 15px;
}

.form-select {
  width: 100%;
  font-size: 0.9rem;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 0.9;
  color: #000000;
}

.form-select {
  background-color: #ffffff;
  border: 1px solid rgb(201, 200, 200);
  color: #000000;
}

.form-select:focus {
  outline: none;
  background: #fff;
  border-color: #a7a7a7;
  border: px solid black;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* ตาราง */
.compare {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #000000;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  border-bottom: 2px solid #333;
}

td {
  border-bottom: 1px solid #000000;
}

tr:hover {
  background: var(--orange-color);
  color: white;
}

/* หน้า Contact */
/* ตำบล อำเภอ จังหวัด */
.contact-grid {
  display: flex;
  flex: 1;
  gap: 10px;
}

/* เบอร์ติดต่อ อีเมล */
.contact-grid-01 {
  display: flex;
  flex: 1;
  gap: 10px;
}

.right-card-contact {
  width: 30%;
  height: 650px;
  background: white;
  padding: 20px 40px;
  margin-top: 25px;
  border-radius: 10px;
  text-decoration: none;
}

.right-card-contact img {
  width: 100%;
  height: auto;
}

.right-card-contact h2 {
  border-radius: 10px;
  color: #1877f2;
  font-size: 3rem;
  text-align: center;
}

.right-card-contact p {
  border-radius: 10px;
  color: #1877f2;
  font-size: 1.2rem;
  padding: 10px;
}

/* footer */
.footer {
  background-color: #ffffff;
  color: black;
  width: 100%;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.footer-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.box-footer {
  padding: 10px 20px;
  background-color: transparent;
}

.box-footer ul li a {
  color: #6d6d6d;
  font-size: 0.9rem;
}

.box-footer ul li a:hover {
  color: #444444;
  font-size: 0.9rem;
  font-weight: bold;
}

.card-footermini {
  padding: 20px 50px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex: 1;
  gap: 30px;
}

.logo-footer {
  height: 120px;
  width: 120px;
}

/* Responsive */

@media (max-width: 768px) {
  .brand {
    font-size: 1.8rem;
    text-align: center;
  }

  .left-card,
  .right-card,
  .right-card-contact {
    width: 100%;
    margin-bottom: 10px;
  }

  .broker-grid {
    grid-template-columns: 1fr;
  }

  .box-footer ul li {
    text-align: center;
  }

  .card-footermini,
  .footer-header,
  .footer-card,
  .trend-box,
  .home-layout,
  .contact-grid,
  .contact-grid-01,
  .logo,
  .nav-menu,
  .card-footermini {
    flex-direction: column;
    gap: 10px;
  }
}
