/* CSS Global  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.container {
  max-width: 1350px;
  background-color: rgba(0, 0, 0, 0.151);
  margin: 200px auto 20px;
}

/* Card base */
.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px 35px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.418);
  border-top: 4px solid rgb(11, 0, 77);
  margin-bottom: 35px;
}
/* Different module colors */
.card.module-2 {
}

pre {
}

.note {
}

.note::before {
}

code {
  background-color: rgba(202, 200, 200, 0.781);
  border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

.badge {
}

/* Images (global safe defaults) */
img {
}

/* CSS For Group 1: Header  */
header {
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
}
h1 {
  color: black;
}
.list-menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.list-menu li {
  background-color: rgb(255, 168, 86);
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
}
.list-menu li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.list-menu li:hover {
  background-color: yellow;
}
/* CSS For Group 2: Card 1: Basics  */

/* CSS For Group 3: Card 2: Resize & aspect  */
.positon {
}

.img_small {
  width: 10%;
}

/* CSS For Group 4: Card 3: Object fit  */

/* CSS For Group 5: Card 4: Image as Link  */

/* CSS For Group 6: Card 5: Gallery  */

/* CSS For Group 7: Card 6: Responsive  */

/* CSS For Group 8: Card 7: Figure & Caption + Task  */

/* CSS For Group 9: Card 8: Local file tips  */

/* CSS For Group 10: Back to Tutorial */
