/* CSS Global  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-padding-top: 200px;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: rgba(108, 219, 253, 0.507);
  color: black;
  padding: 0;
  background-image: url("../file/free-nature-images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;

  margin: 200px auto 20px;
}

/* Card base */
.card {
  background-color: rgba(255, 255, 255, 0.986);
  border-radius: 12px;
  padding: 15px 35px;
  box-shadow: 0 4px 12px rgb(255, 255, 255);
  border-top: 4px solid;
  margin-bottom: 30px;
}

/* Different module colors */
.card.module-2 {
}

pre {
}

.note {
}

.note::before {
}

code {
  background-color: gray;
  border-radius: 4px;
  padding: 2px 4px;
}

.badge {
  color: rgb(10, 242, 250);
  border-radius: 99px;
  background-color: rgb(87, 94, 88);
  padding: 3px 8px;
  font-size: 0.8rem;
  vertical-align: middle;
}

/* Images (global safe defaults) */
img {
  max-width: 100%;
  height: auto;
}

/* CSS For Group 1: Header  */
header {
  background-color: white;
  box-shadow: 5px 5px 5px black;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  color: rgb(10, 68, 228);
}

.list-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px;
  justify-content: center;
}

/* CSS For Group 2: Card 1: Basics  */

.list-menu li {
  margin-top: 25px;
  transition: transform 0.3;
}

. .list-menu li:hover {
  transform: translate(-5px);
}

.list-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: linear-gradient, rgb(180, 172, 252), rgbrgb(62, 255, 3);
  box-shadow: 0 4px;
  padding: 8px 12px;

  border-radius: 6px;
}

/* CSS For Group 3: Card 2: Resize & aspect  */
.list-menu a:hover {
  background-color: rgb(255, 112, 46);
}

.img_small {
  display: block;
  width: 10%;
}

.position {
  display: flex;
  align-items: center;
  border: 1px dashed;
  margin: 15px 0 0;
}

.position.left {
  display: flex-start;
}

.position.center {
  justify-content: center;
}

.position.right {
  justify-content: flex-end;
}

.img_fixed {
  width: 260px;
  height: 160px;
  object-fit: cover;
}

/* CSS For Group 4: Card 3: Object fit  */
.obj-fit-image {
  width: 800px;
  height: 200px;
  border: 1px solid black;
}

.obj-fit-image.contain {
  object-fit: contain;
}

.obj-fit-image.fill {
  object-fit: fill;
}

.obj-fit-image.cover {
  object-fit: cover;
}

/* CSS For Group 5: Card 4: Image as Link  */

/* CSS For Group 6: Card 5: Gallery  */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.gallery img {
  height: 120px;
  width: 100%;
  object-fit: cover;
}
/* CSS For Group 7: Card 6: Responsive  */

/* CSS For Group 8: Card 7: Figure & Caption + Task  */
figure {
  margin: 0 auto;
  text-align: center;
}
/* CSS For Group 9: Card 8: Local file tips  */
.bg-img {
  background-image: url("../file/free-nature-images.jpg");
}
/* CSS For Group 10: Back to Tutorial */
footer {
  text-align: left;
  padding: 10px;
  font-size: 16px;
}
.back-btn {
  display: block;
  padding: 8px 1;
  background-color: rgb(181, 255, 147);
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
}
